/* App.css */

.App {
  text-align: left;
  font-family: 'Courier New', Courier, monospace;
  color: white;
  background-color: black;
}

.animated-text-container {
  position: 500px;
  height: 100%; /* Adjust height as needed */
  width: 100%;
  background-color: grey;
  overflow: hidden;
  margin-bottom: 20px;
}

.animated-text {
  position: absolute;
  font-size: 24px;
  color: white;
  padding: 20px;
  font-family: 'Courier New', Courier, monospace;
  white-space: nowrap; /* Prevent text from wrapping */
}

.lottie-container {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.lottie-container > div {
  width: 100%;
  max-width: 500px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
